body {
    background-image: url('../img/background.jpg');
}

.content {
    background-color: rgba(255,255,255,0.8);
}

header, main {
    background-color: rgba(0,50,100,0.5);
} 

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #048;
    margin-bottom: 1em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em; 
}

#ustava h4 {
    background-color: #666;
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#ustava h4:hover {
    background-color: rgb(161, 111, 77);
}

#ustava p {
    display: none;
}
